.primary {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #4f46e5;
  border: 0;
  border-radius: 8px;
  outline: 0;

  &:disabled {
    pointer-events: none;
    filter: brightness(70%);
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    filter: brightness(70%);
  }
}

.secondary {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4f46e5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #ffffff;
  border: 0;
  border: 1.5px solid #4f46e5;
  border-radius: 8px;
  outline: 0;

  &:disabled {
    pointer-events: none;
    filter: brightness(70%);
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    filter: brightness(90%);
  }
}

.icon {
  display: inline-flex;
  width: auto !important;
  min-width: 20px;
  height: 100%;
  padding: 6px 10px;
  color: var(--content-900);
  background: rgba(142, 123, 255, 0.1);
  border: 1.5px solid #4f46e5;
  border-radius: 4px;

  outline: none;

  svg {
    stroke: var(--cta-primary);
  }

  &:hover {
    color: var(--base-100);
    background: var(--cta-primary);

    svg {
      stroke: var(--base-100);
    }
  }

  &:disabled {
    background-color: transparent;
    border: initial;
    opacity: 0.6;
  }
}
