.Content {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-top: var(--navbar-height);
  background-color: rgb(227, 226, 226);

  @media (max-width: 768px) {
    width: 100vw;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
