.wrapper {
  border: 1px solid;
  border-color: #b8b8b8;
  border-radius: 8px;
}

.top {
  padding: 8px 20px;
  background: #ececec;
  border-bottom: 1px solid #b8b8b8;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background: #ffffff;
  @media (max-width: 992px) {
    padding: 10px 8px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.title,
.cost {
  font-weight: 700;
}

.order {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid;
  border-color: #b8b8b8;
  border-radius: 8px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.orderContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  line-height: 1.5;
  border: 1px solid;
  border-color: #d4d3d3;
  border-radius: 8px;

  &:active {
    border-color: #1561f8;
  }
}
