.wrapper {
  max-width: 400px;
  border: 1px solid;
  border-color: #b8b8b8;

  @media (max-width: 768px) {
    max-width: 370px;
  }
}

.imageWrapper {
  position: relative;
}

.image {
  position: relative;
  z-index: 0;
  display: block;
  max-width: 388px;
  height: 300px;
  padding: 12px;
  margin: auto;
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: 358px;
  }
}

.likedButton {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 80px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.content {
  height: 80px;
  overflow-y: hidden;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.option {
  width: 160px;
}
