.header {
  background-color: #ffffff;
  border-bottom: 1.5px solid #d4d3d3;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.menuItems {
  position: relative;
}

.active {
  color: #181c25;
  border-bottom: 2px solid #181c25;
}
