.wrapper {
  padding: 40px;
  background: #ffffff;
  border: 1.5px solid #d4d3d3;
  border-radius: 8px;

  @media (max-width: 768px) {
    padding: 20px 8px;
  }
}

.top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.pageTitle {
  @media (max-width: 992px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  width: 100%;
  line-height: 1.5;
  border: 1px solid;
  border-color: #d4d3d3;
  border-radius: 8px;

  &:active {
    border-color: #1561f8;
  }
}

.editorWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
